In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv(r"C:\Users\DELL\Downloads\all_grains_data.csv")

In [4]:
data

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34878   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean  2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean  2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean  2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean  2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

[34883 rows x 8 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  object
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 2.1+ MB

In [59]:
data1=data.copy()

In [60]:
data1

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34878   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean  2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean  2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean  2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean  2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

[34883 rows x 8 columns]

In [8]:
data1.shape

(34883, 8)

In [ ]:
#1.Which commodity was having the highest opening price for the day

In [11]:
data1['commodity'][data1['open']==data1['open'].max()]

19437    Rough Rice
Name: commodity, dtype: object

In [12]:
# Rough Rice commodity was having the highest opening price for the day.

In [14]:
#2.Which commodity price reached  maximum during the trading session

In [18]:
data1['commodity'][data1['high']==data1['high'].max()]

19437    Rough Rice
Name: commodity, dtype: object

In [ ]:
#  Rough Rice commodity price reached maximum during the trading session.

In [19]:
#3.What is the average Market's opening price for the Oat in 2010

In [61]:
data1['date']=pd.to_datetime(data1['date'])

In [62]:
data1['date']=data1['date'].dt.year

In [82]:
data1['open'][(data1['commodity']=='Oat') & (data1['date']==2010)].mean()

275.11607142857144

In [83]:
#275.11607142857144 is the average Market's opening price for the Oat in 2010

In [57]:
#4.What is the maximum and minimum Number of contracts traded during the 2009

In [ ]:
data1['date']=data1.astype('')

In [76]:
data1['volume'][data1['date']==2009].max()

252221

In [78]:
data1['volume'][data1['date']==2009].min()

0

In [ ]:
#252221 is the maximum Number of contracts traded during the 2009
#0 is the minimum Number of contracts traded during the 2009

In [ ]:
#5.Which year have  maximum and minimum Number of contracts traded

In [84]:
data1['date'][data1['volume']==data1['volume'].max()]

4216    2017
Name: date, dtype: int64

In [100]:
data1['date'][data1['volume']==data1['volume'].min()].unique()

array([2003, 2005, 2018, 2023, 2001, 2002, 2006, 2007, 2008, 2009, 2011,
       2017, 2019, 2020, 2021, 2022, 2000, 2004, 2010, 2012, 2016],
      dtype=int64)

In [99]:
data1['date'][data1['volume']==data1['volume'].min()].unique().shape

(21,)

In [ ]:
#2017 have maximum Number of contracts traded

In [101]:
# 21 years have minimum Number of contracts traded they are 2003,2005,2018,2023,2011,2020.........

In [102]:
#6.Which commodity have the average lowest opening price around 2001 to 2005

In [185]:
data1['date']==np.nan

0        False
1        False
2        False
3        False
4        False
         ...
34878    False
34879    False
34880    False
34881    False
34882    False
Name: date, Length: 34883, dtype: bool

In [171]:
data1['commodity'][(data1['date']>=2001) & (data1['date']<=2005)].unique()

array(['Corn', 'Oat', 'KC HRW Wheat', 'Rough Rice', 'Soybean Oil',
       'Soybean'], dtype=object)

In [135]:
data1['commodity'][data1['open']=='573.89088752735']

Series([], Name: commodity, dtype: object)

In [181]:
pd.pivot_table(data1,index='commodity',columns='date',values='open',aggfunc=['mean'],margins=True)

                    mean                                                  \
date                2000        2001        2002        2003        2004
commodity
Corn          191.140306  207.622318  227.221230  233.155754  252.610672
KC HRW Wheat  312.057143  304.975000  353.250992  346.882937  366.938247
Oat           114.725000  134.846273  179.671429  162.238987  151.376984
Rough Rice    660.182867  496.389113  388.082000  638.529762  851.077381
Soybean       486.820946  458.641700  514.157738  634.351190  751.830040
Soybean Oil    16.108743   15.828465   18.672073   22.171189   26.760952
All           313.415011  287.782513  281.549820  348.014268  400.255955

                                                                             \
date                2005        2006         2007         2008         2009
commodity
Corn          208.791502  260.100198   373.269920   527.732213   373.243056
KC HRW Wheat  345.984190  467.598606   643.938492   839.379447   560.445437
Oat           161.946640  204.343254   270.082669   340.519763   218.389881
Rough Rice    705.928571  901.573413  1090.990079  1758.167984  1329.145833
Soybean       608.149209  591.744048   861.713147  1233.301383  1029.749008
Soybean Oil    22.544308   25.030198    36.264621    51.462965    35.704524
All           341.984318  408.359107   546.469443   791.760626   585.208693

              ...                                                      \
date          ...         2015         2016         2017         2018
commodity     ...
Corn          ...   376.749008   358.454000   359.399402   368.116466
KC HRW Wheat  ...   515.106151   433.378000   439.766932   499.841633
Oat           ...   250.418651   196.893000   252.570717   256.323705
Rough Rice    ...  1106.273810  1036.152000  1105.906375  1155.091633
Soybean       ...   945.103175   987.949000   976.195219   932.299801
Soybean Oil   ...    30.509127    32.740720    33.366813    29.899084
All           ...   537.359987   507.594453   527.867576   540.490971

                                                                               \
date                 2019         2020         2021         2022         2023
commodity
Corn           383.764881   362.804348   581.257937   693.347610   600.346045
KC HRW Wheat   436.422619   485.144269   683.116071   970.594622   827.562147
Oat            286.804563   296.831028   483.680556   552.806773   379.190678
Rough Rice    1133.231250  1362.992095  1333.849206  1649.432271  1715.316384
Soybean        890.091270   951.897233  1375.662698  1549.652390  1457.107345
Soybean Oil     29.262619    31.293636    58.227579    71.084422    59.558418
All            521.743120   581.827101   752.632341   914.486348   839.846836


date                  All
commodity
Corn           409.282059
KC HRW Wheat   563.985475
Oat            278.897021
Rough Rice    1143.643069
Soybean        997.618605
Soybean Oil     36.837337
All            573.890888

[7 rows x 25 columns]

In [178]:
#Corn,Oat,KC HRW Wheat,Rough Rice,Soybean Oil,Soybean commodity have the average lowest opening price around 2001 to 2005

In [121]:
#7.Which commodity have the best average  Market's closing price

In [187]:
data1['commodity'][data1['close']==data1['close'].mean()]

Series([], Name: commodity, dtype: object)

In [146]:
#8.Which year corn have the highest and lowest Number of contracts traded

In [188]:
data1['date'][(data1['commodity']=='corn') & (data1['volume']==data1['volume'].max())]

Series([], Name: date, dtype: int64)